{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> NGO | Register </title>

    <link rel="shortcut icon" href="{% static 'accounts/images/fav.jpg' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/fontawsom-all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/style.css' %}" />
</head>

<body class="h-100">
    <div class="container-fluid full-bg h-100">
        <div class="container h-100">
            <div class="row no-margin h-100">
                <div class="bg-layer d-flex col-md-4">
                    <!-- -->
                    <form class="login-box row" action="" method="POST">
                        <!-- {% csrf_token %} -->
                        <h3>User Registeration</h3>
                        <!-- <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" name="username" placeholder="Enter your username" 
                                    aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-at"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Email Address"
                                    aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Password" aria-label="Username"
                                    aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Repeat Password"
                                    aria-label="Username" aria-describedby="basic-addon1">
                            </div> -->
                        {% csrf_token %}

                        {% for field in form %}
                        <div class="input-group mb-3 form-group">
                            <label class="text-dark">{{field.label}}</label>
                            {{field}}
                        </div>
                        {% endfor %}
                        
                        <button class="btn btn-success" type="submit">Click to Register</button>

                        <p class="no-c">Already have Account? <a href="{% url 'login' %}">Login</a></p>
                    </form>
                    <!--  -->
                </div>
            </div>

            <div class="foter-credit">
                <a href="https://smarteyeapps.com/">Designed by : Smarteyeapps.com</a>
            </div>
        </div>

    </div>
</body>

<script src="{% static 'accounts/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'accounts/js/popper.min.js' %}"></script>
<script src="{% static 'accounts/js/bootstrap.min.js' %}"></script>
<script src="{% static 'accounts/js/script.js' %}"></script>



</html>